@import url("font-face.css");

:root {
    --content-color: #ffffff;
    --background-color: #343434;
    --selection-color: #212225;
    --extra-color: #484848;

    --title-font: 'Resolve Sans', monospace;
    --navig-font: 'Compagnon', monospace;
    --section-font: 'Jura', sans-serif;
    --body-font: 'DM Mono', monospace;
    --support-font: 'DM Sans', sans-serif;
    --detail-font: 'Clear Sans', sans-serif;
}

html {
    font-size: 17px;
}

body {
    color: white;
    color: var(--content-color);
    background-color: #343434;
    background-color: var(--background-color);
    font-family: var(--body-font);
}

header {
    box-sizing: border-box;
    border-left: 8px solid var(--content-color);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    display: none;
}

footer {
    position: relative;
    padding: 5px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

aside {
    color: var(--content-color);
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
}

p {
    margin-bottom: 0;
}

a,
a:hover,
a:active,
a:checked,
a:focus {
    color: var(--content-color);
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

figure img {
    width: 100%;
}

main .mobile-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.4s;
}

.credits {
    font-size: 0.52rem;
    font-weight: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: var(--support-font);
    opacity: 0.5;
    padding: 15px 0;
}

.credits span {
    font-size: 0.58rem;
    font-weight: bold;
    text-transform: none;
}

.top-icon {
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 999;
}

.top-icon .top-icon-svg {
    max-width: 32px;
}

.top-icon span {
    display: block;
    font-family: var(--section-font);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-top: 3px;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 999;
}

.close-icon .close-icon-svg {
    max-width: 25px;
}

.mobile-menu {
    background-color: var(--background-color);
    border-top: 5px solid var(--content-color);
    border-bottom: 1px solid var(--content-color);
    padding: 20px;
}

.mobile-menu .logo {
    max-width: 100px;
    transition: 0.4s;
}

.mobile-menu .menu-icon {
    float: right;
    text-align: center;
    cursor: pointer;
}

.mobile-menu .menu-icon .menu-icon-svg {
    max-width: 30px;
}

.mobile-menu .menu-icon span {
    display: block;
    font-family: var(--section-font);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-top: 5px;
}

.mobile-nav-list {
    font-family: var(--navig-font);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding-left: 20px;
    margin-bottom: 80px;
}

.mobile-nav-list-item {
    padding: 15px 10px 10px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.mobile-nav-list-subitem {
    padding: 15px 25px 10px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-family: var(--body-font);
    text-transform: none;
}

.collapsable-item::after {
    content: "\f107";
    font-family: "FontAwesome";
    margin-left: 8px;
}

.collapsable-item[aria-expanded="true"]::after {
  content: "\f106";
}

.main-menu {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

.hero {
    width: 100%;
    height: 420px;
    background-color: black;
    background-image: url(../src/hero.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -1;
}

.hero span {
    font-size: 0.8rem;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 85px;
    right: -60px;
}

.wrapper {
    padding: 40px 25px;
    background-color: var(--background-color);
}

.about img {
    width: 100%;
    margin-bottom: 50px;
}

.about .bio {
    padding: 0 20px 80px;
}

.about .bio p {
    margin-bottom: 25px;
}

.about .mobile-contact {
    margin-bottom: 100px;
}

.mobile-contact {
    padding-left: 20px;
}

.brands {
    margin: 20px 20px;
    text-align: center;
    position: relative;
}

.brands span {
    font-family: var(--section-font);
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.2px;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 80px;
    max-width: 100px;
}

.brands img {
    max-height: 100%;
}

.brands .brand-box {
    padding: 40px 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands .clients {
    border-top: 1px solid var(--extra-color);
}

.brands .clients .col {
    border-bottom: 1px solid var(--extra-color);
}

.sumary-section {
    margin-bottom: 80px;
}

.sumary-section .col {
    display: none;
}

.sumary-section .col:nth-child(1),
.sumary-section .col:nth-child(2) {
    display: block;
}

.full-section .col {
    margin-bottom: 30px;
}

.section-title {
    font-family: var(--section-font);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--content-color);
    opacity: 0.6;
}

.section-content {
    position: relative;
}

.section-content .container-fluid {
    padding: 0;
}

.heading {
    font-family: var(--title-font);
    font-size: 2.3rem;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-bottom: 50px;
    opacity: 1;
}

.content-card {
    display: block;
}

.content-card:hover {
    -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.content-card figcaption {
    font-size: 0.7rem;
}

.content-card h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: 1.2px;
    line-height: 1;
}

.content-card ul {
    margin: 10px 0;
    text-transform: uppercase;
}

.content-card ul li:before {
    content: "+";
    padding-right: 5px;
}

.project {
    letter-spacing: 1.2px;
}

.project figure {
    margin: 20px;
}

.project figcaption {
    margin: 20px;
    margin-right: 0;
}

.project .project-description {
    overflow: auto;
}

.project .project-complement {
    margin: 50px 20px;
    margin-right: 0;
}

.project a {
    text-decoration: underline;
}

.project dt {
    font-size: 0.8rem;
}

.project dd {
    font-family: var(--title-font);
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8;
}

.project figcaption h1 {
    text-transform: uppercase;
    font-size: 2.23rem;
    font-weight: normal;
    letter-spacing: 1.2px;
    line-height: 1;
}

.project .plus-list {
    margin: 30px 0;
    text-transform: uppercase;
}

.project .plus-list li:before {
    content: "+";
    padding-right: 5px;
}

.expand-button {
    font-family: var(--detail-font);
    font-size: 0.76rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1.5px;
    display: block;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.6);
}

.expand-button .button-icon {
    margin-left: 10px;
}

.mobile-media {
    margin-top: 40px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.audio-player {
    margin: 20px;
}

.audio-player iframe {
    width: 100%;
}

.desktop-media {
    display: none;
}

#mobile-nav {
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    overflow: scroll;
    position: fixed;
    top: 100vh;
    transition: 0.5s;
}

@media (min-width: 768px) {

    .brands {
        margin: 100px 80px;
        border-top: 1px solid var(--extra-color);
    }

    .brands span {
        top: 90px;
        max-width: 100%;
    }

    .project {
        margin: 50px;
    }

    .project figure {
        width: 300px;
        margin: 0 30px 50px 0;
        float: left;
    }

    .project figcaption {
        margin: 0;
        margin-top: 50px;
        float: right;
        width: calc(100% - 330px);
        padding-top: 5px;
    }

    .project figcaption:first-of-type {
        margin-top: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }

    .project .project-complement {
        margin: 50px 0;
    }

    .project .video-content {
        padding-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }

    .sumary-section .col:nth-child(3) {
        display: block;
    }

    .audio-player {
        margin: 20px 0;
    }

    .desktop-media {
        display: block;
    }

    .mobile-media {
        display: none;
    }
}

@media (min-width: 992px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 260px;
        display: block;
        padding-top: 35px;
        padding-left: 20px;
    }

    footer {
        display: none;
    }

    main {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 260px);
    }

    .main-header {
        height: 367px;
    }

    .support-header section:first-of-type {
        padding-bottom: 55px;
    }

    .support-header section li {
        margin: 3px 0;
    }

    .support-header section address {
        margin-bottom: 30px;
    }

    .support-header .credits {
        position: absolute;
        bottom: 0;
    }

    .mobile-menu {
        display: none;
    }

    .main-menu {
        display: block;
        border-top: 8px solid var(--content-color);
        background-color: var(--background-color);
        white-space: nowrap;
    }

    .main-menu .menu-list {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: var(--navig-font);
        font-size: 0.85rem;
        text-transform: uppercase;
    }

    .main-menu .menu-item {
        display: inline-block;
        padding: 15px 5px;
        margin: 0;
        letter-spacing: 1.3px;
        margin-top: -8px;
    }

    .main-menu .menu-item:hover {
        background-color: var(--background-color);
    }

    .dropdown-menu {
        text-align: left;
        background-color: var(--background-color);
        border-radius: 0;
        border: 0;
        padding-left: 25px;
        padding-bottom: 10px;
        min-width: 300px;
        -webkit-box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .dropdown-menu .dropdown-item {
        color: var(--content-color);
        font-family: var(--body-font);
        font-size: 0.9rem;
        text-transform: none;
        letter-spacing: 1.1px;
        margin: 0;
        padding: 15px 10px 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .dropdown-menu .dropdown-item:hover {
        color: var(--content-color);
        background-color: var(--selection-color);
    }

    .dropdown-menu li:last-of-type .dropdown-item {
        border-bottom: 0;
    }

    .wrapper {
        padding: 80px 50px;
    }

    .wrapper .section-title {
        margin-left: 10px;
        width: calc(100% - 10px);
    }

    .wrapper .heading {
        margin-left: 10px;
    }

    .about {
        margin: 80px auto;
        max-width: 560px;
    }

    .about .bio {
        padding: 0;
    }

    .about .mobile-contact {
        display: none;
    }

    .full-section {
        padding-left: 30px;
    }

    .sumary-section {
        margin-left: -15px;
    }

    .sumary-section .section-content {
        padding-right: 55px;
    }

    .sumary-section .col:nth-child(4) {
        display: block;
    }

    .content-card {
        padding: 5px;
    }

    .project {
        margin: 80px 50px 50px 80px;
    }

    .expand-button {
        margin: 0;
        margin: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: absolute;
        right: 0;
        top: 35%;

    }

    .expand-button .button-icon {
        font-size: 1rem;
        font-weight: normal;
    }

    .expand-button .button-name {
        display: inline-block;
        transform: rotate(-90deg);
        position: relative;
        right: -35px;
    }

    .expand-button .button-name:hover {
        text-decoration: underline;
    }
}

@media (min-width: 1200px) {

    header {
        width: 300px;
        padding-left: 30px;
    }

    main {
        width: calc(100% - 300px);
    }

    .main-menu .menu-list {
        font-size: 1rem;
    }

    .wrapper .section-title {
        margin-left: 15px;
        width: calc(100% - 15px);
    }

    .wrapper .heading {
        margin-left: 15px;
    }

    .content-card {
        padding: 15px;
    }
}

@media (min-width: 1400px) {

    header {
        width: 25%;
    }

    main {
        width: 75%;
    }

    .main-menu .menu-item {
        margin: 0 5px;
        margin-top: -8px;
    }
}

@media (min-width: 768px) and (max-height: 850px) {

    .hero {
        height: 320px;
    }

    .main-header {
        height: 266px;
    }

    .support-header section:first-of-type {
        padding-bottom: 35px;
    }
}

@media (min-width: 768px) and (max-height: 740px) {

    .hero {
        height: 270px;
    }

    .main-header {
        height: 215px;
    }
}

@media (min-width: 768px) and (max-height: 630px) {

    header {
        position: relative;
    }

    .support-header .credits {
        position: static;
        margin-top: 50px;
    }
}

@media (max-width: 767px) {

    .hero {
        height: 250px;
    }
}
